body { 
    padding-top: 70px; 
    padding-bottom: 70px;

    font-family: 'Open Sans', sans-serif;

    /*Degadado*/

    background: rgba(179,175,158,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(179,175,158,1) 0%, rgba(247,242,217,1) 1%, rgba(245,243,240,1) 40%, rgba(210,207,196,1) 72%, rgba(179,175,158,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(179,175,158,1)), color-stop(1%, rgba(247,242,217,1)), color-stop(40%, rgba(245,243,240,1)), color-stop(72%, rgba(210,207,196,1)), color-stop(100%, rgba(179,175,158,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(179,175,158,1) 0%, rgba(247,242,217,1) 1%, rgba(245,243,240,1) 40%, rgba(210,207,196,1) 72%, rgba(179,175,158,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(179,175,158,1) 0%, rgba(247,242,217,1) 1%, rgba(245,243,240,1) 40%, rgba(210,207,196,1) 72%, rgba(179,175,158,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(179,175,158,1) 0%, rgba(247,242,217,1) 1%, rgba(245,243,240,1) 40%, rgba(210,207,196,1) 72%, rgba(179,175,158,1) 100%);
    background: radial-gradient(ellipse at center, rgba(179,175,158,1) 0%, rgba(247,242,217,1) 1%, rgba(245,243,240,1) 40%, rgba(210,207,196,1) 72%, rgba(179,175,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3af9e', endColorstr='#b3af9e', GradientType=1 );
}

.fondo-gradient{
    background: rgba(179,175,158,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(179,175,158,1) 0%, rgba(245,243,240,1) 40%, rgba(247,242,217,1) 41%, rgba(179,175,158,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(179,175,158,1)), color-stop(40%, rgba(245,243,240,1)), color-stop(41%, rgba(247,242,217,1)), color-stop(100%, rgba(179,175,158,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(179,175,158,1) 0%, rgba(245,243,240,1) 40%, rgba(247,242,217,1) 41%, rgba(179,175,158,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(179,175,158,1) 0%, rgba(245,243,240,1) 40%, rgba(247,242,217,1) 41%, rgba(179,175,158,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(179,175,158,1) 0%, rgba(245,243,240,1) 40%, rgba(247,242,217,1) 41%, rgba(179,175,158,1) 100%);
    background: radial-gradient(ellipse at center, rgba(179,175,158,1) 0%, rgba(245,243,240,1) 40%, rgba(247,242,217,1) 41%, rgba(179,175,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3af9e', endColorstr='#b3af9e', GradientType=1 );
}

#home h1{
    font-size: 5em;
}

#home h2{
    font-size: 4em;
}

#parallax-home { 
    /* The image used */
    background-image: url("../img/escritoriov2.jpg");

    /* Set a specific height */
    height: 60%; 

    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-contact{ 
    /* The image used */
    background-image: url("../img/contacto.jpg");

    /* Set a specific height */
    height: 60%; 

    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-services{ 
    /* The image used */
    background-image: url("../img/consultor.jpg");

    /* Set a specific height */
    height: 70%; 

    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}